* {
  margin: 0;
  padding: 0;
}

ul ol {
  list-style-type: none;
}

/*****************************/
/* Reference by Tutorialzine */
/*****************************/

/* content */
.content {
  margin: 20px auto;
  max-width: 980px;
  text-align: center;
  width: 100%;
}
