/* up, down, left, right */

.down {
  height: 23px;
  margin: 0 5px 5px;

  &:active {
    margin: 3px 5px 4px;
  }
}

.up {
  height: 24px;
  margin: 5px 5px 1px;

  &:active {
    margin: 8px 5px -2px;
  }
}

.down, .up {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.left, .right {
  height: 24px;
  margin: 30px 5px 5px;

  &:active {
    margin: 32px 5px 3px;
  }
}
