/* bottomrow */

.bottomrow {
  height: 49px;

  &.fn {
    height: 49px;

    > span {
      display: block;
      font-size: 7.5pt;
      margin: 31px 0 0 5px;
      text-transform: lowercase;
      text-align: left;
    }
  }

  &.optionleft, &.optionright {
    width: 46px;

    > span {
      display: block;
      font-size: 7.5pt;
      text-transform: lowercase;
    }
  }

  &.commandleft, &.commandright {
    width: 67px;

    > span {
      display: block;
      font-size: 7.5pt;
      text-transform: lowercase;
    }
  }

  &.optionleft, &.commandleft {

    > span {
      margin: 31px 0 0 5px;
      text-align: left;
    }
  }

  &.optionright, &.commandright {

    > span {
      margin: 31px 5px 0 0;
      text-align: right;
    }
  }

  &.spacebar {
    width: 226px;
  }

  &.control {
    width: 54px;

    > span {
      display: block;
      font-size: 7.5pt;
      margin: 31px 0 0 5px;
      text-transform: lowercase;
      text-align: left;
    }
  }
}
