/* shift */

.shiftleft, .shiftright {
  width: 112px;
}
.shiftleft span, .shiftright span {
  display: block;
  font-size: 7.5pt;
  text-transform: lowercase;
}
.shiftleft span {
  text-align: left;
  margin: 23px 0 0 10px;
}
.shiftright span {
  text-align: right;
  margin: 23px 10px 0 0;
}
